{% extends "citagro/Administrador/Administrador.html" %}
{% load i18n %}
{% load admin_static %}


{% block breadcrumbs %}
						 
	<div class="row">
		<ul class="row breadcrumb">
			<li><a href="{% url 'citagro:index' %}">Inicio</a></li>
			<li class="active"><strong>Cambiar Contraseña</strong></li>
		</ul>
	</div>

{% endblock %}



{% block content %}<div id="content-main">


<div class="panel panel-warning">
  <div class="panel-heading text-center"><strong>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</strong></div>
  <div class="panel-body">
    <form action="" method="post">{% csrf_token %}
		<div>
		{% if form.errors %}
			<p class="errornote alert alert-danger" role="alert">
			{% if form.errors.items|length == 1 %}<i class="fa fa-warning fa-fw"></i> {% trans "Please correct the error below." %}{% else %}<i class="fa fa-warning fa-fw"></i> {% trans "Please correct the errors below." %}{% endif %}
			</p>
		{% endif %}
		<fieldset class="module aligned wide">

		<div class="col-lg-12">
		<div class="form-row">
			<label for="id_old_password" class="required">{% trans 'Old password' %}: </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.old_password }}
			<p>{{ form.old_password.errors }}</p>
		</div>
		</div>

		<div class="col-lg-12">
		</br>
		<div class="form-row">
			<label for="id_new_password1" class="required">{% trans 'New password' %}:</label>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.new_password1 }}
			<p>{{ form.new_password1.errors }}</p>
		</div>
		</div>
		<div class="col-lg-12">
		</br>
		<div class="form-row">
			<label for="id_new_password2" class="required">{% trans 'Password (again)' %}:</label> {{ form.new_password2 }}
			<p>{{ form.new_password2.errors }}</p>
		</div>
		</div>

		</fieldset>

		<div class="submit-row pull-right">
			<button type="submit" class="btn btn-warning">Cambiar contraseña</button>
		</div>

		<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
		</div>
		</form>
  </div>
</div>


</div>

{% endblock %}
