{% extends "citagro/Administrador/Administrador.html" %}
{% load i18n %}
{% load admin_static %}


{% block breadcrumbs %}
						 
	<div class="row">
		<ul class="row breadcrumb">
			<li><a href="{% url 'citagro:index' %}">Inicio</a></li>
			<li class="active"><strong>Técnicos</strong></li>
		</ul>
	</div>

{% endblock %}

{% block content %}
			<div class="col-lg-12">
                <h1>Técnicos</h1>
            </div>
			<div class="row">
				
                <div class="col-lg-12">
					</br>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <strong>Listado de técnicos</strong>
							<div class="pull-right"> 
								<a href="{% url 'citagro:creaTecnico'%}"><i class="fa fa-plus fa-fw"></i><strong> Nuevo Técnico</strong></a>
								<!-- <a href="#nuevoTecnico" data-toggle="modal" ><i class="fa fa-plus fa-fw"></i><strong> Nuevo Técnico</strong></a> -->
							</div>
							
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
								
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
									
                                    <thead>
                                        <tr>
											<th>Usuario</th>
                                            <th>Nombre y apellidos</th>
                                            <th>NIF</th>
                                            <th>Localidad</th>
                                            <th>Contacto</th>
                                        </tr>
                                    </thead>
                                    <tbody>
										{% if lista_tecnicos %}
											{% for tecnico in lista_tecnicos %}
											<tr>
												<td>{{tecnico.usuario.username}}</td>
												<td><a href="#"  data-toggle="modal" data-target="#{{tecnico.id}}">{{tecnico.Nombre}} {{tecnico.Apellido1}} {{tecnico.Apellido2}}</a>
												<div class="modal fade" id="{{tecnico.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
													<div class="modal-dialog ">
														<div class="modal-content">
															<div class="modal-header">
																<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
																<h4 class="modal-title" id="myModalLabel">{{tecnico.Nombre}} {{tecnico.Apellido1}} {{tecnico.Apellido2}}</h4>
															</div>
															<div class="modal-body">
																<div class="panel-body">
																	<div class="row">
																		<div class="col-lg-8">
																			<div class="form-group">
																				<div><label>NIF:</label> {{tecnico.NIF}}</div>
																				<div><label>Localidad:</label> {{tecnico.Municipio}} ({{tecnico.Provincia}})</div>
																				<div><label>Domicilio:</label> {{tecnico.Domicilio}}</div>
																				<div><label>CP:</label> {{tecnico.CP}}</div>
																			</div>
																		</div>
																		<div class="col-lg-4">
																			<div class="form-group text-success">
																				<label>Fecha de ingreso:</label> 
																				<div class="text-center">{{tecnico.fecha_ingreso}}</div>
																			</div>
																		</div>
																		<div class="col-lg-12">
																			<div class="form-group">
																				<div><label>Teléfono:</label> {{tecnico.Telefono1}}</div>
																				{% if tecnico.Telefono2 %}<div><label>Teléfono2:</label> {{tecnico.Telefono2}})</div>{% endif %}
																				{% if tecnico.Fax %}<div><label>Fax:</label> {{tecnico.Fax}}</div>{% endif %}
																				<div><label>E-mail:</label> {{tecnico.email}}</div>
																				{% if tecnico.ropo %}<div><label>Nº en el ROPO:</label> {{tecnico.ropo}}</div>{% endif %}
																			</div>
																		</div>
																		
																		{% if tecnico.explotaciones_asignadas %}
																		<div class="col-lg-12">
																		</br>
																			<div class="panel panel-default">
																				<div class="panel-heading text-center">
																					<strong>Explotaciones asignadas</strong>
																				</div>
																				<!-- /.panel-heading -->

																				<div class="panel-body">
																					<div class="table-responsive">

																						<table class="table table-striped table-bordered table-hover text-center">
																							
																							<thead>
																								<tr>
																									<th class="text-center">Razon Social</th>
																									<th class="text-center">CIF/NIF</th>
																									<th class="text-center">Localidad</th>
																								</tr>
																							</thead>
																							<tbody>
																								{% for explotacion in tecnico.explotaciones_asignadas %}
																								<tr>
																									<td>{{explotacion.Razon_Social}}</td>
																									<td>{{explotacion.cif_nif}}</td>
																									<td>{{explotacion.Localidad}} ({{explotacion.Provincia}})</td>
																								</tr>
																								{% endfor %}
																		
																							</tbody>
																						</table>
																					</div>

																				</div>
																				
																			</div>
																			
																		</div>
																		{% else %}
																		</br>
																		<div class="col-lg-12 text-danger text-center">
																			<strong>No tiene ninguna explotación asignada</strong>
																		</div>
																		{% endif %}
																		
																		
																		
																	</div>
																</div>
															</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-warning" onclick="location.href='/administrador/modificaTecnico/{{tecnico.id}}'">Modificar</button>
															 </div>
														</div>
													</div>
												</div>
															
												
												
												</td>
												<td>{{tecnico.NIF}}</td>
												<td>{{tecnico.Municipio}} ({{tecnico.Provincia}})</td>
												<td>{{tecnico.Telefono1}}</td>
												
											</tr>
											{% endfor %}
										{% endif %}
                                        
                                        
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
			

			
{% endblock %}


														