{% extends "citagro/AdministradorCitagro/AdministradorCitagro.html" %}
{% load i18n %}
{% load admin_static %}

{% block content %}
<div class="col-xs-12 col-sm-4" ng-controller="UsuarioController">
		</br>
<div class="panel panel-warning">
  <div class="panel-heading text-center"><strong>Modifica Usuario</strong></div>
  <div class="panel-body">
    <form action="" method="post">{% csrf_token %}
		<div>
		
		<fieldset class="module aligned wide">

		<div class="col-lg-12">
			<div class="form-group">
				<label>Nuevo usuario:</label>
				<input id="nuevoUsuario" class="form-control" value="{{user.username}}" required>
				<strong><p class="text-danger" id="errorUsuario"></p></strong>
			</div>
		</div>

		</fieldset>
		</div>
	</form>
  </div>
    <div class="modal-footer">
		<button type="button" class="btn btn-warning" ng-click="guardaUsuario('{{user.id}}')">Cambiar Usuario</button>				
	</div>
  
</div>

</div>

{% endblock %}
